{% extends 'base.html.twig' %}

{% block title %}
    Create a new serie | Series {{ parent() }}
{% endblock %}

{% block body %}
    <div>
        {# todo:afficher les formulaire #}
    </div>

{% endblock %}

